.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #db4444;
}
/* background: #DB4444; */

.img-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-area img {
  width: 100%;
  height: 100%;
  /* object-fit: center; */
  object-fit: fill;
  /* object-fit: cover; */
}
