@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }

  .container-main {
    @apply w-full px-4 sm:px-10 xl:px-[calc((100%_-_1170px)_/_2)] 2xl:px-[calc((100%_-_1250px)_/_2)] 3xl:px-[calc((100%_-_1320px)_/_2)];
  }

  .container-auth {
    @apply w-full pl-0 pr-4 sm:pr-10 xl:pr-[calc((100%_-_1170px)_/_2)] 2xl:pr-[calc((100%_-_1250px)_/_2)] 3xl:pr-[calc((100%_-_1320px)_/_2)];
  }

  .shadowgen{
    -webkit-box-shadow: 5px 0px 11px 38px rgba(255,255,255,0.65); 
    box-shadow: 5px 0px 11px 38px rgba(255,255,255,0.65);
    background-color:red;
  }
}

.header-404 {
  font-size: 4rem;
  text-align: center;
  color: blue;
}
